.container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 2.5rem 0;
  position: relative;
}

.main {
  height: 100%;
  width: 90%;
  max-width: 900px;
  margin: auto;

  text-align: center;
}

.main__title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 3.125rem;
}

.main__search_container {
  position: relative;
  width: 100%;
  max-width: 900px;
}

.main__search_bar {
  padding: 22px 10rem 22px 18px;
  border-radius: 6px;
  background-color: rgba(68, 78, 82, 0.8);
  border: 0;
  color: #fff;
  font-size: 18px;
  width: 100%;
  position: relative;
}

.main__search_button {
  padding: 13px 35px;
  font-size: 18px;
  color: #fff;
  border-radius: 6px;
  border: none;
  background-color: #0063da;
  cursor: pointer;

  position: absolute;
  right: 0;
  top: 46%;
  transform: translateY(-48%);
  margin-right: 8px;
  font-weight: 600;
}
